<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Hi!</h1>
        <p>We gonna tell u your birthday stone based on your birthday month!
         (please Captialized the Cirst character of your birthday month!!!!!)</p>
        <form action="/result" method= "post">
            <input type="text" name="nickname" value="Name!"/>
            <input type="text" name="birthday_month" value="Birthday month!"/>
            <input type="submit" value="Submit"/>

        </form>
    </body>
</html>
